@import "color";

// covert proggress bootstrap

.progress {
    border-radius: 1px !important;
    height: 7px !important;
    box-shadow: none !important;
    overflow: hidden !important;
    background-color: $color-wild-sand !important;
}

// main
.main-header{
    position: relative;
    max-height: 100px;
    z-index: 1030;
    color: $color-white;
    a{
        color: $color-white;
        &:hover{
            color: $color-white;
        }
    }
    .logo{
        background-color: $color-dodger-blue;
        color: $color-white;
        border-bottom: 0 solid transparent;

        .logo-lg{
            display: block;
            b{
                font-weight: 700;
                font-size: 20px;
            }
        }
    }

    .navbarez{
        background-color: $color-dark-turquoise;
        transition: margin-left .3s ease-in-out;
        margin-bottom: 0;
        margin-left: 230px;
        border: none;
        min-height: 50px;
        border-radius: 0;
        position: relative;
        min-height: 50px;
        height: 50px;
        .sidebar-toogle{
            float: left;
            background-color: transparent;
            background-image: none;
            padding: 15px 15px;
            font-family: fontAwesome;
            &:hover{
                background: $color-dodger-blue;
            }
        }
        .navbar-custom-menu{
            float: right;
            height: 100%;
            ul{
                margin: 0;
                padding-left: 0;
                list-style: none;
                flex-direction: initial;
                li{
                    position: relative;
                    a{
                        padding: 15px 15px;
                        display: block;
                        height: 100%;
                        &:hover{
                            background: $color-dodger-blue;
                        }
                    }
                    .label-z{
                        position: absolute;
                        top: 9px;
                        right: 7px;
                        text-align: center;
                        font-size: 9px;
                        padding: 2px 3px;
                        line-height: .9;
                        border-radius: 50%;
                    }
                }

                .user{
                    .user-image{
                        float: left;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        margin-right: 10px;
                        margin-top: -2px;
                    }
                    .name-acc{
                        font-size: 14px;
                    }
                }
            }

            .navbar-nav{
                &>li{
                    position: relative;
                    &>.dropdown-menu{
                        position: absolute;
                        right: 0;
                        left: auto;
                        z-index: 1000;
                        float: left;
                        font-size: 14px;
                        text-align: left;
                        list-style: none;
                        background-color: $color-white;
                        background-clip: padding-box;
                        border: 1px solid rgba(0,0,0,.15);
                        border-radius: 4px;
                        min-width: 160px;
                        width: 280px;
                        padding: 0;
                        top: 100%;
                        box-shadow: none;
                        border-color: #eee;

                        &>li.header{
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 0;
                            border-bottom-left-radius: 0;
                            background-color: $color-white;
                            padding: 7px 10px;
                            border-bottom: 1px solid $color-wild-sand;
                            color: #444444;
                            font-size: 14px;
                        }
                        &>li .menu{
                            max-height: 200px;
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            overflow-x: hidden;
                            &>li>a{
                                margin: 0;
                                padding: 10px 10px;
                                display: block;
                                color: #444444;
                                overflow: hidden;
                                display: block;
                                font-size: 12px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                padding: 10px;
                                white-space: nowrap;
                                border-bottom: 1px solid $color-wild-sand;
                                &:hover{
                                    background: $color-wild-sand;
                                    text-decoration: none;
                                }
                                &>h3{
                                    font-size: 13px;
                                    padding: 0;
                                    margin: 0 0 10px 0;
                                    color: #666666;
                                    &>small{
                                        font-size: 75%;
                                    }
                                }
                                &>div{
                                    &>img{
                                        margin: auto 10px auto auto;
                                        width: 40px;
                                        height: 40px;
                                    }
                                }
                                &>.its-right{
                                    margin: 0 0 0 45px;
                                    &>h4{
                                        padding: 0;
                                        color: #444444;
                                        font-size: 15px;
                                        position: relative;
                                        &>small{
                                            color: $color-dusty-gray;
                                            font-size: 10px;
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            font-weight: 400;
                                            line-height: 1;
                                        }
                                    }
                                    &>p{
                                        font-size: 12px;
                                        color: $color-gray;
                                    }
                                }
                            }
                        }
                        &>li.footer{
                            &>a{
                                border-top-left-radius: 0;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                font-size: 12px;
                                background-color: $color-white;
                                padding: 7px 10px;
                                border-bottom: 1px solid #eeeeee;
                                color: #444 !important;
                                text-align: center;
                            }
                        }

                        &>li.user-header{
                            height: 175px;
                            padding: 10px;
                            text-align: center;
                            background-color: $color-boston-blue;
                            &> img{
                                z-index: 5;
                                height: 90px;
                                width: 90px;
                                border: 3px solid;
                                border-color: transparent;
                                border-color: rgba(255,255,255,0.2);
                            }
                            &>p{
                                z-index: 5;
                                color: rgba(255,255,255,0.8);
                                font-size: 17px;
                                margin-top: 10px;
                                &>small{
                                    display: block;
                                    font-size: 12px;
                                }
                            }
                        }

                        &>li.user-body{
                            padding: 15px;
                            &>div.row >div{
                                padding: 0px 15px;
                                &>a{
                                    padding: 0;
                                    color: $color-night-rider;
                                    &:hover{
                                        background: initial;
                                    }
                                }
                            }
                        }

                        &>li.user-footer{
                            background-color: #f9f9f9;
                            padding: 10px 15px;
                            font-size: 14px;
                            .btn-default{
                                font-size: 14px;
                                color: #666666;
                                background-color: $color-wild-sand;
                                border: 1px solid #ddd;
                                &:hover{
                                    background-color: #e7e7e7;
                                    border-color: #adadad;
                                }
                            }
                            &>div{
                                &>a{
                                    padding: 6px 12px;
                                    color: $color-night-rider;
                                    &:hover{
                                        background: initial;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }




    }



}
